extends ../layout.pug

block body
  - var instance = Object.assign({}, instance || {}, query)
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новая гарантия
    .card-body
      +dummy_input('id', 'Код')
      .form-group
        label(for="passportId") Паспорт оборудования
        select#passportId.form-control(name="passportId")
          option(value='') ___
          each val in passport
            if instance.passportId == val.id
              option(selected value=val.id)= val.factory_id + ' (' + val['nomenclature.title'] + ')'
            else
              option(value=val.id)= val.factory_id + ' (' + val['nomenclature.title'] + ')'
      .row
        .col
          +input('warranty_runtime',  'Гарантийная наработка')
        .col
          +input('warranty',  'Срок гарантии (мес)')
        .col
          +date_input('expiration', 'Окончание гарантии')
    .card-footer
      if instance.id
        button.btn.float-right.ml-3(type="submit") Сохранить
        button.btn.float-right.ml-3(href="/runtime") Отмена
        a.float-left.btn(href=`/runtime/delete/${instance.id}`) Удалить
      else
        button.btn.float-right(type="submit") Добавить

append script
    script.
      $(() => {
        $('.datetimepicker-input').each(function () {
          const val = $(this).siblings('.hide-input').val();
          $(this).datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',
            allowInputToggle: true,
            defaultDate: val
          });
        })
        $('body').on('change.datetimepicker', (e) => {
          $(e.target).siblings('.hide-input').val(e.date.format('YYYY-MM-DD'));
        })
      })
