extends ../layout.pug

block body
  - var instance = Object.assign({}, instance || {}, query)
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новая гарантия
    .card-body
      +dummy_input('id', 'Код')
      .form-group
        label(for="passportId") Паспорт оборудования
        select#passportId.form-control(name="passportId")
          option(value='') ___
          each val in passport
            if instance.passportId == val.id
              option(selected value=val.id)= val.factory_id + ' (' + val['nomenclature.title'] + ')'
            else
              option(value=val.id)= val.factory_id + ' (' + val['nomenclature.title'] + ')'
      .row
        .col
          +input('warranty_runtime',  'Гарантийная наработка')
        .col
          +input('warranty',  'Срок гарантии (мес)')
        .col
          .form-group
            label(for="expiration") Окончание гарантии
            #expiration.input-group.date(data-target-input='nearest')
              input.form-control.datetimepicker-input(type='text' name='expiration' data-target='#expiration')
              .input-group-append(data-target='#expiration' data-toggle='datetimepicker')
                .input-group-text
                  i.ion.ion-md-calendar
    .card-footer
      if instance.id
        button.btn.float-right.ml-3(type="submit") Сохранить
        button.btn.float-right.ml-3(href="/runtime") Отмена
        a.float-left.btn(href=`/runtime/delete/${instance.id}`) Удалить
      else
        button.btn.float-right(type="submit") Добавить

append script
    script.
      $(() => {
        $('#expiration').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',
            allowInputToggle: true
          });
      })
