extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Группы номенклатуры
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            showDetailsDialog("Edit", args.item);
          },
          controller: {
            loadData: () =>
              $.ajax({
                url: "http://localhost:8090/api/nomenclaturegroup"
              })
          },
          fields: [
            { name: 'id' },
            { name: "code", type: "number" },
            { name: "title", type: "textarea" },
            { name: "nomenclatureClassID" },
            { name: "createdAt" },
            { name: "updatedAt" },
            {
              type: "control",
              modeSwitchButton: false,
              editButton: true,
              headerTemplate: () => $(`<a type="submit" class="btn btn-success" href="/nomenclaturegroup/edit">Добавить</button>`)
            }
          ]
        })
      })