extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Группы номенклатуры
       a.float-right.btn.btn-success(type="button" href="/nomenclaturegroup/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclaturegroup/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `#{env.backendAddr}/api/nomenclaturegroup`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el['class'] = `${el['nc.id']}.\t` +
                      `${el['nc.title']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Группа", name: "title" },
            { title: "Родитель", name: "class" },
          ]
        })
      })
