extends ../layout.pug

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новый контрагент
    .card-body
      +dummy_input('id', 'Код')
      +input('title',  'Наименование')
      +input('short',  'Краткое наименование')
      +input('inn',  'ИНН')
      +input('kpp',  'КПП')
      +input('ogrn',  'ОГРН')
      +input('address',  'Юридический адрес')
      +input('www',  'Web сайт')
      +input('expiration',  'Дата прекращения действия')
    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        // a.float-right.btn.btn-danger(href=`/counterparty/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить
