extends ../layout.pug

block body
  .card
    .card-header
      h3.card-title Контрагенты
      a.float-right.btn.btn-success(type="button" href="/counterparty/edit")
        i.ion.ion-md-add-circle-outline
        |  Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/counterparty/edit/${args.item.id}`
          },
          controller: {
            loadData: () =>
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/counterparty`
              })
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Наименование", name: "title", type: "text" },
          ]
        })
      })