body {
  color: #c9ebff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.content-wrapper {
  background: #121b25;
}

#firstMenuOpenIcon {
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}

#firstMenuOpenIcon.open {
  transform: rotate(180deg);
  transition: transform 0.4s linear;
}

.main-footer {
  background: #121b25;
  border: none;
  margin-bottom: 24px;
  height: 100px;
}

.card {
  border-radius: 4px;
}

.card-header {
  background: #213345;
}
.card-header:first-child {
  border-radius: 4px 4px 0 0;
}
.card-body {
  background: #213345;
}
.card-footer {
  background: #213345;
}
.card-footer:last-child {
  border-radius: 0 0 4px 4px;
}
.form-control,
.form-control:focus,
option,
input {
  background-color: #142333;
  color: #c9ebff;
}
.jsgrid-grid-header input {
  border: 1px solid #80c5ed !important;
}
.form-control:disabled {
  background-color: #1f2a38;
  cursor: not-allowed;
  color: #c9ebff;
}
.btn {
  background-color: #2a445e;
  color: #c9ebff;
  border-radius: 3px;
}

.jsgrid-load-shader {
  opacity: 1;
  background-color: #213345;
}
.jsgrid-load-panel {
  background-color: #213345;
  color: #c9ebff;
  border: 2px solid #80c5ed;
}

.jsgrid-header-cell {
  font-weight: 700;
}
.jsgrid-header-sortable .filter {
  float: right;
}

.add-btn-text {
  display: none;
}

@media (min-width: 576px) {
  .add-btn-text {
    display: inline;
  }
}

.popover {
  background: rgba(37, 56, 78, 1);
}
.select2 {
  z-index: 1000;
}
.popover .arrow::after {
  border-right-color: rgba(37, 56, 78, 1);
}

#clear-filters {
  padding-bottom: 8px;
  border-bottom: 1px solid #80c5ed;
}
#clear-sorting {
  margin-top: 8px;
  margin-bottom: 16px;
}

.ui-sortable .item {
  user-select: none;
  cursor: pointer;
}
.jsgrid-filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.jsgrid-header-sortable::before {
  float: right;
  margin-top: 8px;
  border-top-color: #80c5ed;
  border-bottom-color: #80c5ed;
}
.jsgrid-table {
  font-size: 0.8em;
}
.jsgrid-filter-row > .jsgrid-cell {
  background: #142333;
  border-color: #30485c;
}
.jsgrid-header-row > .jsgrid-header-cell {
  background: #142333;
  border-color: #30485c;
  color: #80c5ed;
}

.jsgrid-row > .jsgrid-cell,
.jsgrid-alt-row > .jsgrid-cell,
.jsgrid-nodata-row > .jsgrid-cell {
  border-color: #30485c;
  background: #213345;
}

.jsgrid-row:hover > .jsgrid-cell,
.jsgrid-alt-row:hover > .jsgrid-cell,
.jsgrid-nodata-row:hover > .jsgrid-cell {
  background: #2a445e;
}

.overflow-x {
  overflow-x: scroll;
}
.jsgrid-grid-body {
  overflow-x: visible;
}
.jsgrid-grid-header,
.jsgrid-grid-body {
  border-color: #30485c;
  overflow-y: auto;
}
.jsgrid-pager-page,
.jsgrid-pager-nav-button {
  color: #73d0f5;
  border: 1px solid #385775;
  margin: 2px;
  border-radius: 5px;
  font-weight: 400;
}
.jsgrid-pager-page a,
.jsgrid-pager-nav-button a {
  text-decoration: none;
  color: #c9ebff;
}
.jsgrid-pager-current-page {
  border: 1px solid #73d0f5;
  color: #73d0f5;
}

ol.breadcrumb {
  background: none;
  margin: 0;
}
ol.breadcrumb li a {
  text-decoration: none;
}
#filters-state-button {
  width: 32px;
  height: 32px;
  border: none;
  position: relative;
}
.green-circle-badge {
  bottom: 80%;
  left: 80%;
  position: absolute;
  font-weight: 700;
  font-size: 11px;
  background-color: #28a745;
  padding: 0px 6.5px 0px 6px;
  border-radius: 8px;
}
.select2-selection__rendered {
  padding-top: 5px;
}
.jsgrid-header-sort:before {
  content: none;
}
.fal.fa-calendar {
  color: #718eab;
}
.jsgrid-header-sortable > .fa-arrow-up:before,
.jsgrid-header-sortable > .fa-arrow-down:before {
  display: none;
}
.jsgrid-header-sortable > .fa-arrow-initial:before {
  display: block;
}

.jsgrid-header-sort-asc > .fa-arrow-up:before {
  display: block;
}
.jsgrid-header-sort-asc > .fa-arrow-down:before,
.jsgrid-header-sort-asc > .fa-arrow-initial:before {
  display: none;
}
.jsgrid-header-sort-desc > .fa-arrow-down:before {
  display: block;
}
.jsgrid-header-sort-desc > .fa-arrow-up:before,
.jsgrid-header-sort-desc > .fa-arrow-initial:before {
  display: none;
}
.sort-arrow {
  margin-top: 4px;
}
.select2-container {
  min-width: 150px;
}
