.filters-state-popover-body {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.filters-state-popover-btn {
  color: #80C5ED;
  cursor: pointer;
  margin-bottom: 0px;
}
.filters-state-popover-btn:hover {
  color:#73D0F5;
}

.filters-state-popover-titles-container {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}
.filters-state-popover-single-title-container {
  margin-top: 9px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 8px;
  border: 1px solid #385775;
  border-radius: 4px;
}

.filters-state-popover-filter-title {
  margin: 0;
  padding-bottom: 2px;
  white-space: nowrap;
}
.filters-state-popover-filter-delete {
  margin-left: 5px;
  width: 80%;
  cursor: pointer;
}