extends ../layout.pug

block breadcrumbs
  li.breadcrumb-item: a(href="/passport") Номенклатура
  if instance
    li.breadcrumb-item.active(aria-current="page") Изменение номенклатуры
  else
    li.breadcrumb-item.active(aria-current="page") Новая номенклатура

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новая номенклатурная позиция
    .card-body
      if instance.id
        +dummy_input('id', 'Код')

      .row
        .col-12
          - parent.map(el => el['__title'] = el['nt.ng.nc.title'] + ' > ' + el['nt.ng.title'] + ' > ' + el['nt.title'] + ' > ' + el.title)
          +select_required('nomenclatureModelId', 'Классификация номенклатуры', parent)
        .col-xl-4
          - unit.map(el => el['__title'] = el.title + ' (' + el.short + ')')
          +select_required('unitId', 'Единица измерения', unit)
        .col-xl-4
          +input_required('title', 'Наименование')
        .col-xl-4
          +input('designation', 'Обозначение')
      .row
        h6 Технические параметры
        - nomenclatureparameter.map(el => el['__title'] = el.title + ' (' + el['unit.short'] + ')')
        +multiselect('enabledparameters', 'Параметры', nomenclatureparameter, 'nomenclatureParameterId')

    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        a.float-right.btn.btn-danger(href=`/nomenclature/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить
