extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Номенклатура
       a.float-right.btn.btn-success(type="button" href="/nomenclature/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclature/edit/${args.item.id}`
          },
          controller: {
            loadData: () =>
              $.ajax({
                url: "http://localhost:8090/api/nomenclature"
              })
          },
          fields: [
            { name: 'id' },
            { name: "code", type: "number" },
            { name: "title", type: "textarea" },
            // { name: "createdAt" },
            // { name: "updatedAt" },
          ]
        })
      })