extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Типы номенклатуры
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            showDetailsDialog("Edit", args.item);
          },
          controller: {
            loadData: () =>
              $.ajax({
                url: `http://${window.location.host}/api/nomenclaturetype`
              })
          },
          fields: [
            { name: 'id' },
            { name: "code", type: "number" },
            { name: "title", type: "textarea" },
            { name: "nomenclatureGroupID" },
            { name: "createdAt" },
            { name: "updatedAt" },
          ]
        })
      })