main {
  display: grid;
  grid-template-columns: 260px 1fr;
}

.main-sidemenu__container {
  background: #213345;
  height: 100%;
  padding-top: 24px;;
}

.main-sidemenu__logo {
  max-width: 190px;
  height: 63px;
  margin: 0 auto;
  margin-top: 17px;
  padding: 0 5px;
}

.main-sidemenu__logo a,
.main-sidemenu__logo a:hover {
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #718EAB;
}

body {
  background-image: url("/public/bg.png");
  background-color: #0E1721;
}

.main-header {
  border: 0;
}

.content-wrapper {
  background: none;
}

.main-footer {
  background: #213345;
}

.nav-item {
}

.nav-item a {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.nav-treeview {
  background: #1F2A38;
}

.nav-link {
  color: #C9EBFF !important;
}

.nav-link.selected {
  border-left: 4px solid #80C5ED;
  background: #2A445E;
}

.nav-link p {
  flex-grow: 1;
  padding-left: 10px;
  margin: 0;
}

.nav-treeview .nav-link p {
  padding-left: 25px;
}

.nav-treeview .nav-link.selected p {
  padding-left: 21px;
}

.card {
  background: #213345;
}

.card-header {
  padding: 16px;
}

table thead tr.footable-header {
  background: #142333;
}

table.footable thead tr.footable-header > th {
  padding: 3px 10px 3px 16px;
  color: #80C5ED;
  font-size: 12px;
  line-height: 16px;
}

.table > :not(:last-child) > :last-child > *,
table tr {
  border-bottom: 1px solid #30485C;
}

table tbody tr td {
  text-align: center;
}


.pagination {
  margin: 0;
  margin-top: 10px;
  display: inline-block;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  margin-left: 8px;
  line-height: 32px;
  color: #C9EBFF;
  text-decoration: none;
  background: #213345;
  border: 1px solid #385775;
  box-sizing: border-box;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #73D0F5;
  cursor: default;
  border: 1px solid #73D0F5;
}

aside {
  background: #213345;
}

.sidebar {
  padding: 0;
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
  width: 100%;
}

.main-sidemenu__logo div {
  background-image: url("/public/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
}

.sidebar-collapse .main-sidemenu__logo div {
  background-image: url("/public/mini-logo.png");
}

.modal-header {
  background: #2A445E;
}

.modal-body,
.modal-footer {
  background: #25384E;
}

.modal-header .modal-title {
  color: #80C5ED;
}

.modal-header .close span {
  color: #80C5ED;
  text-shadow: none;
}

.footable-filtering {
  display:none;
}

.dropdown-menu {
  background: #233851;
}

input::placeholder {
  color: #718EAB !important;
}

.select2-container--default .select2-selection--single {
  background-color: #142333;
  border-color: #142333;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #718EAB;
}

.select2-dropdown {
  background: #233851;
  border-color: #80bdff !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background: #142333;
  border: 0;
  color: #718EAB;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #718EAB;
}

.input-group-text {
  background-color: #142333;
}

.table thead th {
  border: 0px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu ul {
  margin: 0;
}

.picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  background: #385775 !important;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date,
.daterangepicker .calendar-table,
.daterangepicker {
  background: #25384E;
  border: 0;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  border-color: #718EAB;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #2A445E;
}

.daterangepicker td.in-range {
  background-color: #213345;
  color: #C9EBFF;
}
