extends ../layout.pug

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новая единица измерений
    .card-body
      +dummy_input('id', 'Код')
      +input('title',  'Наименование')
      +input('short', 'Аббревиатура')
    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        a.float-right.btn.btn-danger(href=`/unit/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить
