extends layout.pug

block body
    h5.mt-4.mb-2
        | Избранное
    .row
        .col-md-3.col-sm-6.col-12
            .small-box
                .inner
                    a(href="/nomenclature", style="color: #C9EBFF; text-decoration: none;")
                        p Номенклатура
                            a.float-right(type="button")
                                i.fa.fa-star(style="color: #80C5ED;")
                .icon
                    i.far.fa-file-alt

        .col-md-3.col-sm-6.col-12
            .small-box
                .inner
                    a(href="/passport", style="color: #C9EBFF; text-decoration: none;")
                        p Оборудование
                            a.float-right(type="button")
                                i.fa.fa-star(style="color: #80C5ED;")
                .icon
                    i.far.fa-file-alt

    h5.mt-4.mb-2
        | Разделы
    .row
        .col-md-3.col-sm-6.col-12
            .card
                .card-header
                    h3.card-title
                        i.far.fa-file-alt.mr-3
                        | Номенклатура
                .card-body
                    a.ml-3(href="/nomenclature", style="color: #C9EBFF; text-decoration: none; font-size: 14px;")
                        p.mt-2 Номенклатура
                            a.float-right.mr-3(type="button")
                                i.fa.fa-star(style="color: #80C5ED;")
                    a.ml-3(href="/passport", style="color: #C9EBFF; text-decoration: none; font-size: 14px;")
                        p Оборудование
                            a.float-right.mr-3(type="button")
                                i.fa.fa-star(style="color: #80C5ED;")
