extends ../layout.pug

block body
  - var instance = instance || {}
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новый номенклатурный класс
    .card-body
      if instance.id
        .form-group
          label(for="id") Код
          input#id.form-control(type="text" placeholder="" disabled value=instance.id)
      .form-group
        label(for="title") Наименование
        input#title.form-control(name="title" type="text" placeholder="" value=instance.title)
    .card-footer
      if instance.id
        button.btn.btn-primary(type="submit") Сохранить
        a.float-right.btn.btn-danger(href=`/nomenclatureclass/delete/${instance.id}`) Удалить
      else
        button.btn.btn-primary(type="submit") Добавить
