extends ../layout.pug

block body
  .card
    .card-header
       h3.card-title Классы номенклатуры
       a.float-right.btn.btn-success(type="button" href="/nomenclatureclass/edit") Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/nomenclatureclass/edit/${args.item.id}`
          },
          controller: {
            loadData: () =>
              $.ajax({
                url: `http://${window.location.hostname}:8090/api/nomenclatureclass`,
              })
          },
          fields: [
            { title: "Код", name: "code" },
            { title: "Класс", name: "title" },
          ]
        })
      })
