extends ../layout.pug

block body
  - var instance = Object.assign({}, instance || {}, query)
  .card: form(method='post' enctype='application/x-www-form-urlencoded')
    .card-header
      h3.card-title Новая наработка
    .card-body
      if instance.id
        +dummy_input('id', 'Код')
      .form-group
        - passport.map(el => el['__title'] = el.model + ': ' + el.extra + (el.vendor_id ? ' (' + el.vendor_id + ')' : ''))
        +select2_required('passportId', 'Паспорт оборудования', passport)
      +input('current', 'Текущая наработка')
      +input('accepted', 'Допустимая наработка')
      +input('max', 'Предельная наработка')
    .card-footer
      if instance.id
        if instance.passportId
          button.btn.btn-primary(type="submit" formaction=`?redirectTo=/passport/edit/${instance.passportId}`) Сохранить
        else
          button.btn.btn-primary(type="submit") Сохранить
        // a.float-right.btn.btn-danger(href=`/commission/delete/${instance.id}`) Удалить
      else
        if instance.passportId
          button.btn.btn-primary(type="submit" formaction=`?redirectTo=/passport/edit/${instance.passportId}`) Добавить
        else
          button.btn.btn-primary(type="submit") Добавить
