extends ../layout.pug

block body
  .card
    .card-header
      h3.card-title Наработки оборудования
      a.float-right.btn.btn-success(type="button" href="/commission/edit")
        i.ion.ion-md-add-circle-outline
        |  Добавить
    .card-body
      #jsGrid

append script
    script.
      $(() => {
        $('#jsGrid').jsGrid({
          height: "auto",
          width: "100%",
          editing: false,
          filtering: false,
          autoload: true,
          sorting: true,
          paging: false,
          rowClick: function(args) {
            window.location.href=`/runtime/edit/${args.item.id}`
          },
          controller: {
            loadData: () => {
              var deferred = $.Deferred();
              $.ajax({
                url: `#{env.backendAddr}/api/runtime`,
                success: function(response) {
                  deferred.resolve(response.map(el => {
                    el.factory_id = `${el['passport.factory_id']}`
                    return el
                  }));
                }
              })
              return deferred.promise();
            }
          },
          fields: [
            { title: "Код", name: "id" },
            { title: "Заводской номер", name: "factory_id" },
            { title: "Текущая наработка", name: "current" },
            { title: "Допустимая наработка", name: "accepted" },
            { title: "Предельная наработка", name: "max" },
          ]
        })
      })